{% extends 'base.html' %}

{% block body %}
<br>

<!DOCTYPE html>
<html lang="en">

<head>



  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/ass/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/ass/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/ass/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/ass/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="static/ass/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="static/ass/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/ass/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/ass/css/style.css" rel="stylesheet">



<body>



 

    <section class="section profile">
      <div class="row">
        <div class="col-xl-12">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="static/ass/img/profile-img.jpeg" alt="Profile" class="rounded-circle">
              <h2>Mohammed Adhil</h2>
              <h3>Full Stack Web Egineer</h3>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
             
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">About</h5>
                  <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p>

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">Mohammed Adhil</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Company</div>
                    <div class="col-lg-9 col-md-8">Lueilwitz, Wisoky and Leuschke</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Job</div>
                    <div class="col-lg-9 col-md-8">Full Stack Web Egineer</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Country</div>
                    <div class="col-lg-9 col-md-8">INDIA</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address</div>
                    <div class="col-lg-9 col-md-8">Parappanagadi (po)  676 303,Malappurapam</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div class="col-lg-9 col-md-8">+91 8281302471</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">adilu2263@gmail.com</div>
                  </div>

                </div>

               
    </section>

 

 

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/ass/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="static/ass/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/ass/vendor/chart.js/chart.umd.js"></script>
  <script src="static/ass/vendor/echarts/echarts.min.js"></script>
  <script src="static/ass/vendor/quill/quill.min.js"></script>
  <script src="static/ass/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="static/ass/vendor/tinymce/tinymce.min.js"></script>
  <script src="static/ass/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/ass/js/main.js"></script>

</body>

</html>


{% endblock body %}





